@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  width: 100%;
}

.checkedStyle:checked::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  background: url("./images/checkboxTrue.png") center center / cover;
}
.checkedStyle::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #9f9a91;
  border-radius: 5px;
}

.hiddenErrMsg {
  display: none;
}

.showErrMsg {
  display: block;
}
