@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
}
